@model IEnumerable<ChatManager.Models.Message>

<div class="messagesHeader">
    @if (ViewBag.Recipient != null)
    {
        <h4>Conversation avec</h4>
        <div class="userItem">
            @Helper.AvatarUserIcon(ViewBag.Recipient)
            <div class="ellipsis">@ViewBag.Recipient.GetFullName()</div>
        </div>
    }
    @if (ViewBag.Recipient == null)
    {
        <h4>Sélectionnez un ami...</h4>
    }
</div>
<hr />
@if (ViewBag.Recipient != null && Model.Count() > 0)
{
    if (Model.Any())
    {
        DateTime datePrecedante = Model.First().DateSent;
        <div class="messageTime">@Helper.When(Model.First().DateSent)</div>
        foreach (ChatManager.Models.Message item in Model)
        {
            if ((item.DateSent - datePrecedante).TotalMinutes > 30)
            {
                <div class="messageTime"> @Helper.When(item.DateSent)</div>
            };
            datePrecedante = item.DateSent;
            string classe;
            if (item.IdRecever != ViewBag.Recipient.Id) { classe = "received"; }
            else { classe = "sent"; }
            string classeLayout = classe + "Layout";

            <div id="?idMessage=@item.Id" class="@classeLayout">
                <div class=@classe title="@item.DateSent.ToShortTimeString()" id="@("sent_"+@item.Id)" utc="-4">
                    <p>@Helper.ParseContent(@item.Text)</p>
                </div>
            </div>


            if (item.IdRecever == ViewBag.Recipient.Id)
            {
                <div class="editMessage" id="@("edit_"+@item.Id)">

                <input id="@item.Id" value="@item.Text" class="sent form-control">
                <span id="@("update_"+@item.Id)" class="icon fa fa-check smallerIcon" title="Modifier ce message" data-placement="bottom">
                </span>

                <span id="@("delete_"+@item.Id)" class="icon fa fa-times smallerIcon" title="Effacer ce message" data-placement="bottom">
                </span>
            </div>
            }
        }
    }
}