@model IEnumerable<ChatManager.Models.Message>

<div style="display: grid; grid-template-columns: 1fr 1fr 1fr 15fr; column-gap: 10px;">
    @foreach (ChatManager.Models.Message item in Model)
    {
        @Helper.AvatarUserIcon(ChatManager.Models.DB.Users.Get(item.IdSender));
        @Helper.AvatarUserIcon(ChatManager.Models.DB.Users.Get(item.IdRecever));
        <span style="display: flex; column-gap: 8px; align-items: center;" id="@("delete_"+@item.Id)" class="icon fa fa-times-circle" title="Effacer ce message" data-placement="bottom"></span>
            <div id="?idMessage=@item.Id" class="receivedLayout">
                <div class="received" title="@item.DateSent.ToShortTimeString()" id="@item.Id" utc="-4">
                    <p>@Helper.ParseContent(@item.Text)</p>
                </div>
            </div>
            }
    </div>