
<div style="display:grid; grid-template-columns: 65px auto; align-items:center">
    <img src="../favicon.png" style="width:56px">
    <h3>Salle de discussions</h3>
</div>
<hr />
<div style="display: grid; grid-template-columns: 65px auto;">
    <div style="margin: 4px; border: 1px solid lightgray; ">
        <div id="friendList"></div>
    </div>
    <div style="width:100% !important; max-width:1000px !important;">
        <div style="margin: 4px; border: 1px solid lightgray; ">
            <div id="chatLog"></div>
        </div>
        <div style="margin: 4px; border: 1px solid lightgray;">
            <div id="writingBar" style="display: grid; grid-template-columns: auto 30px; ">
                <input id="message" class="form-control" style="width:100% !important; max-width:1000px !important;" placeholder="votre message...">
                @Helper.Icon("send", "fa-paper-plane", "Envoyer")
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/NotificationsHandler")

<script defer>
    let friendListRefresh = new PartialRefresh("@Url.Action("GetFriend")", "friendList", 5, CallbackF);
    let messageRefresh = new PartialRefresh("@Url.Action("GetChatLog")", "chatLog", 5, CallbackC);

    $("#send").click(
        function () {
            addMessage();
        });
    $('#message').keypress(function (event) {
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
            addMessage();
        }
    });
    function addMessage() {
        messageRefresh.command("@Url.Action("AddMessage")" + "?message=" + $("#message").val())
        $("#message").val("");
    }

    function CallbackF() {
        $(".command").click(function () {
            var url = $(this).attr("url");
            var message = $(this).attr("message");
            friendListRefresh.confirmedCommand(message, url);
        });
        $('.Friend').click(function () {
            messageRefresh.command("@Url.Action("UpdateChatLog")" + this.id)
        });
    }
    function CallbackC() {
        $(".command").click(function () {
            var url = $(this).attr("url");
            var message = $(this).attr("message");
            messageRefresh.confirmedCommand(message, url);
        });
    }
</script>
}

