
<div style="display:grid; grid-template-columns: 65px auto; align-items:center">
    <img src="../favicon.png" style="width:56px">
    <h3>Salle de discussions</h3>
</div>
<hr />
<div class="main">
    <div style="display: grid; grid-template-columns: 60px auto; column-gap: 10px;">
       <div class="friendsListContainer" id="friendsListContainer" title="Cliquez sur un de vos amis pour clavarder avec lui...">
       </div>
            <div>
                <div class="messagesPanel" id="messagesPanel" title="Cliquez sur un de vos messages pour l'éditer...">
                </div>
                <div class="sendMessageLayout">
                    <input id="message" class="form-control" style="width:100% !important; max-width:1000px !important;" placeholder="Tapez votre message ici ..." title="Les urls d'image sont prises en compte.">
                    @Helper.Icon("send", "fa-paper-plane", "Envoyer")
                    </span>

                </div>
            </div>
        </div>
    </div>
s
    
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/NotificationsHandler")

<script defer>
        let friendListRefresh = new PartialRefresh("@Url.Action("GetFriend")", "friendsListContainer", 5, CallbackF);
        let messageRefresh = new PartialRefresh("@Url.Action("GetChatLog")", "messagesPanel", 5, CallbackC);

    $("#send").click(
        function () {
            addMessage();
        });
    $('#message').keypress(function (event) {
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
            addMessage();
        }
    });
    function addMessage() {
        messageRefresh.command("@Url.Action("AddMessage")" + "?message=" + $("#message").val())
        $("#message").val("");
    }

    function CallbackF() {
        $(".command").click(function () {
            var url = $(this).attr("url");
            var message = $(this).attr("message");
            friendListRefresh.confirmedCommand(message, url);
        });
        $('.Friend').click(function () {
            messageRefresh.command("@Url.Action("UpdateChatLog")" + this.id)
        });
    }
    function CallbackC() {
        $(".command").click(function () {
            var url = $(this).attr("url");
            var message = $(this).attr("message");
            messageRefresh.confirmedCommand(message, url);
        });
    }
</script>
}

