
<div style="display:grid; grid-template-columns: 65px auto; align-items:center">
    @Helper.ImageLink("Chat", "AdminChatLog", "/favicon.png", "", "Salle de clavardage...", "width:56px")
    @*<img src="../favicon.png" style="width:56px">*@
    <h3>Salle de discussions</h3>
</div>
<hr />
<div class="main">
    <div style="display: grid; grid-template-columns: 60px auto; column-gap: 10px;">
        <div class="friendsListContainer" id="friendsListContainer" title="Cliquez sur un de vos amis pour clavarder avec lui...">
        </div>
        <div>
            <div class="messagesPanel" id="messagesPanel" title="Cliquez sur un de vos messages pour l'éditer...">
            </div>
            <div class="sendMessageLayout" id="sendMessagePanel">
                <input id="message" class="form-control" style="width:100% !important; max-width:1000px !important;" placeholder="Tapez votre message ici ..." title="Les urls d'image sont prises en compte.">
                @Helper.Icon("send", "fa-paper-plane", "Envoyer")
                </span>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/NotificationsHandler")

<script defer>
        let friendListRefresh = new PartialRefresh("@Url.Action("GetFriend")", "friendsListContainer", 5, CallbackF);
    let messageRefresh = new PartialRefresh("@Url.Action("GetChatLog")", "messagesPanel", 5, CallbackC);

    let currentTargetId = @ViewBag.Recipient;
    if (currentTargetId == 0)
        $("#sendMessagePanel").hide();

    let editing = false;
    function setEditing(value) {
        editing = value;
        if (editing) {
            messageRefresh.pause();
            $("#sendMessagePanel").hide()
        }
        else {
            messageRefresh.restart();
            $("#sendMessagePanel").show()
        }
    }
    $("#send").click(
        function () {
            addMessage();
        });
    $('#message').keypress(function (event) {
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
            addMessage();
        }
    });
    $(document).on('keyup', function (event) {
        if (event.key == "Escape") {
            $("#message").val("");
        }
    });
    function addMessage() {
        messageRefresh.command("@Url.Action("AddMessage")" + "?message=" + $("#message").val())
        $("#message").val("");
    }

    function CallbackF() {
        $(".command").click(function () {
            var url = $(this).attr("url");
            var message = $(this).attr("message");
            friendListRefresh.confirmedCommand(message, url);
        });
        $('.Friend').click(function () {
            ajaxActionCall("@Url.Action("UpdateChatLog")" + this.id, () => { friendListRefresh.refresh(true); messageRefresh.refresh(true); });
            setEditing(false);
            $("#sendMessagePanel").show();
            friendListRefresh.refresh(true);
        });
    }
    function CallbackC() {
        @*$(".command").click(function () {
            var url = $(this).attr("url");
            var message = $(this).attr("message");
            messageRefresh.confirmedCommand(message, url);
        });
        $('.sent').click(function () {
            var id = $(this).id;
            $('.sent').each(function () {
                if ($(this).id != id) {
                    if ($(this).has("input")) {
                        alert("alert");
                        $(this).html('<p>' + $(this)[0].val() + '</p>');
                    }
                    else {
                        $(this).html('<p>' + $(this).text().trim() + '</p>');
                    }
                }
                    //$(this).html('<p>' + $(this).text().trim() + '</p>');
            })
            $(this).html('<input type="text" class="modif" id="' + $(this).id + '" value="' + $(this).text().trim() + '">');
            messageRefresh.pause();
        });
        $('.modif').keypress(function (event) {
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == '13') {
                messageRefresh.command("@Url.Action("ChangeMessage")" + "?idMessage=" + $(this).id + "&message=" + $("#message").val())
            }
        });*@
        $("#typing").hide();
        $(".editMessage").hide();
        $("#messagesPanel").scrollTop($("#messagesPanel")[0].scrollHeight + 100);

        $(".contentImage").click(function (event) {
            event.stopPropagation();
        })
        $("a").click(function (event) {
            event.stopPropagation();
        })
        $(".sent").click(function () {
            console.log(editing);
            if (!editing) {
                setEditing(true);
                var message_id = $(this).attr("id").split("_")[1];
                $("#edit_" + message_id).show();
                $("#sent_" + message_id).hide();
                $("#delete_" + message_id).click(function () {
                    setEditing(false);
                    messageRefresh.confirmedCommand("Effacer ce message", "/Chat/Delete/" + message_id);
                })
                $("#update_" + message_id).click(function () {
                    setEditing(false);
                    var message = $("#" + message_id).val();
                    messageRefresh.command("/Chat/Update?id=" + message_id + "&message=" + message);
                })
                $('#' + message_id).keypress(function (event) {
                    var keycode = (event.keyCode ? event.keyCode : event.which);
                    if (keycode == '13') {
                        setEditing(false);
                        var message = $("#" + message_id).val();
                        messageRefresh.command("/Chat/Update?id=" + message_id + "&message=" + message);
                    }
                });
                $(document).on('keyup', function (event) {
                    if (event.key == "Escape") {
                        $("#edit_" + message_id).hide();
                        $("#sent_" + message_id).show();
                        setEditing(false);
                    }
                });
            }
        });
    }
</script>
}

