@model IEnumerable<ChatManager.Models.Friendship>

@foreach (ChatManager.Models.Friendship item in Model)
{
    if (item.IdFriend != ChatManager.Models.OnlineUsers.GetSessionUser().Id)
    {
        bool isOnline = ChatManager.Models.OnlineUsers.IsOnLine(item.IdFriend);
        <div class="userContainer" style="font-size:14px;">
            @Helper.AvatarUser(item.Friend, "UserSmallAvatar")
            <div style="text-align:center" title="Status de connexion">
                @Helper.OnLineStatusIcon(isOnline, item.Friend.Blocked)
            </div>

            <div style="text-align:center">
                @{  if (item.Friend.Blocked)
                    {
                        @Helper.Icon("cette usager est blocké", "fa-ban", "Ajouté ami", "bottom", "red");
                    }
                    else
                    {
                        switch (item.FriendStatus)
                        {
                            default:
                                @Helper.Icon("addFriend", "fa-plus-circle", "Ajouter ami", "bottom", "green");
                                break;
                            case 1:
                                @Helper.Icon("addFriend", "fa-clock-o", "attente de réponse d'amitié", "bottom", "green");
                                break;
                            case ChatManager.Models.Friendship.RequestReceved:
                                @Helper.Icon("addFriend", "fas fa-check", "devenir ami", "bottom", "green");
                                break;
                            case ChatManager.Models.Friendship.Accepted:
                                @Helper.Icon("addFriend", "fas fa-check-circle", "ami", "bottom", "green");
                                break;
                            case ChatManager.Models.Friendship.DeclineByYou:
                                @Helper.Icon("nothing", "fa-times-circle", "Vous avez décliner l'amitié", "bottom", "red");
                                break;
                            case ChatManager.Models.Friendship.DeclineByThem:
                                @Helper.Icon("addFriend", "fa-times-circle", "La personne a décliner l'amitié", "bottom", "green");
                                break;
                        }
                    }
                }
            </div>

            <div style="text-align:center" title="Status du compte">
                @{ switch (item.FriendStatus)
                    {
                        case ChatManager.Models.Friendship.RequestSend:
                            @Helper.Icon("decline", "fa-times", "retirer la demande", "bottom", "red");
                            break;
                        case ChatManager.Models.Friendship.RequestReceved:
                            @Helper.Icon("denied", "fa-times", "décliner l'amitié", "bottom", "red");
                            break;
                        case ChatManager.Models.Friendship.Accepted:
                            @Helper.Icon("decline", "fa-times", "retirer l'amitié", "bottom", "red");
                            break;
                        case ChatManager.Models.Friendship.DeclineByYou:
                            @Helper.Icon("addFriend", "fas fa-plus-circle", "Ajouté ami", "bottom", "green");
                            break;
                    }
                }
            </div>
        </div>
    }
}


