@{
    ViewBag.Title = "UserList";
}

<h2>Gestion d'amis</h2>
<hr />
<input type="text" id="SearchText" />
@Helper.Icon("Search", "fas fa-search", "recherche")
<br />
<input type="checkbox" value="0" class="rechercheFriendship" checked title="non ami" />
@Helper.Icon("addFriend", "fa-plus-circle", "Ajouté ami", "bottom", "green")
<input type="checkbox" value="1" class="rechercheFriendship" checked title="en attente de leur confirmation" />
@Helper.Icon("addFriend", "fa-clock-o", "attente de réponse d'amitié", "bottom", "green")
<input type="checkbox" value="2" class="rechercheFriendship" checked title="en attente de votre confirmation" />
@Helper.Icon("addFriend", "fas fa-check", "devenir ami", "bottom", "green")
<input type="checkbox" value="3" class="rechercheFriendship" checked title="ami" />
@Helper.Icon("addFriend", "fas fa-check-circle", "ami", "bottom", "green")
<input type="checkbox" value="4" class="rechercheFriendship" checked title="dénier amitié" />
@Helper.Icon("nothing", "fa-times-circle", "décliner d'amitié", "bottom", "red")
<input type="checkbox" value="5" id="userBlocked" checked title="bloqué par administrateur" />
@Helper.Icon("cette usager est blocké", "fa-ban", "Utilisateur banni", "bottom", "red")
<div class="main">
    <div id="friendshipsListContainer">
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/NotificationsHandler")

<script defer>
    let friendshipStatus = new PartialRefresh("@Url.Action("GetFriendshipsList")", "friendshipsListContainer", 5, Callback);

        // renew checkbox change call back
        $(".rechercheFriendship").change(UpdateSearch);
        $("#userBlocked").change(UpdateSearch);

        function UpdateSearch() {
            var checkedValue = "";
                var inputElements = document.getElementsByClassName('rechercheFriendship');
                for (var i = 0; inputElements[i]; ++i) {
                    if (inputElements[i].checked) {
                        checkedValue += inputElements[i].value + "_";
                    }
                }
                checkedValue += document.getElementById('userBlocked').checked ? '1' : '0';
                friendshipStatus.command("@Url.Action("UpdateSearch")" + "?recherche=" + checkedValue)
        }
        $(".DELETE_USER").click(
            function () {
                let userid = this.id.split('_')[1];
                friendshipStatus.confirmedCommand(this.title + ' ?', "@Url.Action("Delete")" + "?userid=" + userid);
            }
        );
        // do not use
        $(".SwitchToUser").click(function () {
            window.location = "/Accounts/SwitchToUser/" + $(this).attr("id");
        });
        $('#Search').click(function () {
            friendshipStatus.command("@Url.Action("UpdateNameSearch")" + "?search=" + $('#SearchText').val())
        });
        $('#SearchText').bind("keypress keyup keydown", function () {
            friendshipStatus.command("@Url.Action("UpdateNameSearch")" + "?search=" + $('#SearchText').val())
        });
        function Callback() {
            $(".command").click(function () {
                var url = $(this).attr("url");
                var message = $(this).attr("message");
                friendShipsStatus.confirmedCommand(message, url);
            });
            $('.addFriend').click(function () {
                friendshipStatus.command("@Url.Action("SendInvitation")" + this.id);
            });
        }
</script>
}

