@model ChatManager.Models.User

@{
    ViewBag.Title = "Modification Profil";
    string formSubmitCaption = "Modifier";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
<div class="form-horizontal">

    <fieldset class="formField">
        <div class="legend">Identification</div>
        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.FirstName) } })
        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        <br />
        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.LastName) } })
        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
    </fieldset>

    <fieldset class="formField">
        <div class="legend">@Html.DisplayNameFor(model => model.Email)</div>
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.Email) } })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        <br />
        @Html.EditorFor(model => model.ConfirmEmail, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.ConfirmEmail) } })
        @Html.ValidationMessageFor(model => model.ConfirmEmail, "", new { @class = "text-danger" })
    </fieldset>

    <fieldset class="formField">
        <div class="legend">@Html.DisplayNameFor(model => model.UserTypeId)</div>
        @Helper.ListToRadioButtonGroup("UserTypeId", (SelectList)ViewBag.UserTypes, Model.UserTypeId)
        @Html.ValidationMessageFor(model => model.UserTypeId, "", new { @class = "text-danger" })
    </fieldset>

    <fieldset class="formField">
        <div class="legend">Vérifier</div>
        @Html.EditorFor(model => model.Verified, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.Verified) } })
        @Html.ValidationMessageFor(model => model.Verified, "", new { @class = "text-danger" })
    </fieldset>

    <fieldset class="formField">
        <div class="legend">Bloqué</div>
        @Html.EditorFor(model => model.Blocked, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.Blocked) } })
        @Html.ValidationMessageFor(model => model.Blocked, "", new { @class = "text-danger" })
    </fieldset>

    <div class="legend">@Html.DisplayNameFor(model => model.AvatarImageData)</div>
    @Helper.ImageUploader(Model.Id, "AvatarImageData", Model.GetAvatarURL(), "~/Images_Data/Loading_icon.gif", "Cliquez pour choisir votre avatar")
    @Html.ValidationMessageFor(model => model.AvatarImageData, "", new { @class = "text-danger" })

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="@formSubmitCaption" class="btn btn-default" />
        </div>
    </div>
</div>
}

